<section class="about-me">
  <div class="container">
    <div class="about-me-title-wrap">
      <h2 class="about-me-title">
        I work with people all over the world to create impressive and
        <span class="about-me-title-text-color">functional</span>
        <span class="about-me-title-text-two-color">websites</span> that reflect
        each client's unique personality.
      </h2>
      <div class="about-me-img">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/about-me/desk-aboutme.webp   1x,
              /img/about-me/desk-aboutme2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/about-me/tab-aboutme.webp   1x,
              /img/about-me/tab-aboutme2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/about-me/mob-aboutme.webp   1x,
              /img/about-me/mob-aboutme2x.webp 2x
            "
          />
          <img
            src="/img/about-me/tab-aboutme.webp"
            alt="Photo of Lloyd Jefferson"
            width="704"
            height="700"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
