<section class="about-me">
  <div class="container">
    <div class="about-me-title-wrap">
      <h2 class="about-me-title">
        I work with people all over the world to create impressive and
        <span class="about-me-title-text-color">functional</span>
        <span class="about-me-title-text-two-color">websites</span> that reflect
        each client's unique personality.
      </h2>
      <div class="about-me-img">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/about-me/desk-aboutme.webp   1x,
              /img/about-me/desk-aboutme2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/about-me/tab-aboutme.webp   1x,
              /img/about-me/tab-aboutme2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/about-me/mob-aboutme.webp   1x,
              /img/about-me/mob-aboutme2x.webp 2x
            "
          />
          <img
            src="/img/about-me/tab-aboutme.webp"
            alt="Photo of Lloyd Jefferson"
            width="704"
            height="700"
          />
        </picture>
      </div>
    </div>

    <ul class="about-me-list accordion-container">
      <li class="about-me-item ac">
        <h3 class="about-me-subtitle ac-header">
          <button class="about-me-btn ac-trigger" type="button">
            About me
            <svg class="about-me-icon" width="36" height="36">
              <use href="../img/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="about-me-text ac-text">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.<br /><br /><br /><br />Able
            to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>
      <li class="about-me-item ac">
        <h3 class="about-me-subtitle ac-header">
          <button class="about-me-btn ac-trigger" type="button">
            rOLE
            <svg class="about-me-icon" width="36" height="36">
              <use href="../img/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="about-me-text ac-text">
            Frontend development<br /><br />HeadlessCMS,Wordpress<br /><br />Blender(enjoy)
          </p>
        </div>
      </li>
      <li class="about-me-item ac">
        <h3 class="about-me-subtitle ac-header">
          <button class="about-me-btn ac-trigger" type="button">
            eDUCATION
            <svg class="about-me-icon" width="36" height="36">
              <use href="../img/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="about-me-text ac-text">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
            York<br /><br />2019 - 2020 / Advanced Web Development Certificate,
            GoIT IT School, New York<br /><br />2020 - 2022 / Advanced Blender
            Animation Techniques, Udemy
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
