<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      Hello.<br />
      I’m Fullstack developer<br />
      Lloyd Jefferson.
    </h1>
    <div class="hero-soc-list-wrap">
      <ul class="hero-soc-list">
        <li class="hero-soc-list-item">
          <a
            class="hero-soc-list-link"
            href="https://www.instagram.com/goitclub/"
            >IG</a
          >
        </li>
        <li class="hero-soc-list-item">
          <a
            class="hero-soc-list-link"
            href="https://www.facebook.com/goITclub/"
            >FB</a
          >
        </li>
        <li class="hero-soc-list-item">
          <a class="hero-soc-list-link" href="https://www.youtube.com/c/GoIT"
            >YT</a
          >
        </li>
        <li class="hero-soc-list-item">
          <a
            class="hero-soc-list-link"
            href="https://github.com/savchenko-maksym"
            >GH</a
          >
        </li>
      </ul>
      <a class="hero-email" href="mailto:maxim.savchenko91@gmail.com"
        >maxim.savchenko91@gmail.com</a
      >
    </div>
  </div>
</section>
