<section class="work-together">
  <div class="container">
    <h2 class="work-together-title">
      <img class="work-together-img" src="../img/header/header.jpg" alt="" />
      Let’s <span class="footer-color-world">work </span><br />together
    </h2>
    <form class="work-togethe-form">
      <input
        type="email"
        name="email"
        id=""
        class="form-input"
        placeholder="clients@gmail.com"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        required
      />
      <input
        type="text"
        name="comment"
        id=""
        class="form-input"
        placeholder="comments"
        required
      />
      <button class="form-btn" type="submit">Send</button>
    </form>
    <ul class="footer-contacts-list">
      <li class="footer-contacts-item">
        <a class="fotter-email" href="mailto:maxim.savchenko91@gmail.com"
          >maxim.savchenko91@gmail.com</a
        >
      </li>
      <li class="footer-contacts-item">
        <a class="footer-tel" href="tel:+380123456789">+380 11 1111 11 11</a>
      </li>
    </ul>
  </div>
</section>
