.about-me {
  margin-top: 64px;
}

.container {
}

.about-me-title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 32px;
}

.about-me-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  padding: 32px;
  border-radius: 24px;
  background-color: #242527;
  padding-bottom: 272px;
}
.about-me-title-text-color {
  color: #ed3b44;
}
.about-me-title-text-two-color {
  color: rgba(250, 250, 250, 0.4);
}
.about-me-img {
  border-radius: 24px;
  width: 100%;
  max-width: 343px;
  height: auto;
}
/* --------------------------------- */

.about-me-list {
}

body .about-me-list .about-me-item {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  padding-bottom: 20px;
}

.about-me-list .about-me-item .about-me-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.about-me-list .about-me-item .about-me-subtitle .about-me-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 12px;
  cursor: pointer;
}

.about-me-list .about-me-icon {
  stroke-width: 2px;
  stroke: #fafafa;
  transition: transform 0.5s ease;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ac.is-active .about-me-icon {
  transform: rotate(180deg);
}

.about-me-list .about-me-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-top: 8px;
}

.ac .ac-trigger::after {
  display: none;
}

.about-me-list .ac {
  color: transparent;
  margin-bottom: 0;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
}

.about-me .ac .ac-panel .ac-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-top: 8px;
}

.about-me-list .ac .ac-panel .ac-text {
  padding: 0;
}

.about-me-list .ac .ac-trigger {
  all: unset;
}

@media screen and (min-width: 768px) {
  .about-me-title {
    font-size: 38px;
    line-height: 1.05263;
    padding: 64px;
    padding-bottom: 436px;
  }

  .about-me-img {
    max-width: 704px;
  }

  .about-me-title-wrap {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me {
    margin-top: 96px;
  }

  .about-me-img {
    max-width: 680px;
    flex-shrink: 0;
  }

  .about-me-title-wrap {
    flex-direction: row;
    margin-bottom: 96px;
  }
}
