.reviews {
  padding-top: 64px;
}

.reviews-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.reviews-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

.reviews-list-item {
  padding: 32px 24px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  margin-bottom: 32px;
  height: 302px;
  /* width: calc((100%-48px) / 4); */
}

.reviews-list .reviews-list-item:nth-last-child(-n + 5) {
  display: none;
}

.reviews-list-img {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  margin-bottom: 32px;
}

.reviews-list-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}

.reviews-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.error-message {
  color: red;
}

@media screen and (min-width: 768px) {
  .reviews-list .reviews-list-item:nth-child(-n + 2) {
    display: block;
  }

  .reviews-list-item {
    width: calc((100% - 16px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .reviews-list .reviews-list-item:nth-child(-n + 4) {
    display: block;
  }

  .reviews-list-item {
    width: calc((100% - 48px) / 4);
  }
}
